{% extends "layout.twig" %}

{% block title %}Add User{% endblock %}
{% block head %}
    {{ parent() }}
        <style type="text/css">
            .important { color: #336699; }
        </style>
        <script>
          $( function() {
            $( "#date_worked" ).datepicker();
          } );
        </script>
{% endblock %}
{% block content %}
    
<div class="row gutter-10">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h4>{% if user.id is not defined %}Add{% else %}Edit{% endif %} User</h4>
    </div>
</div>

<div class="row gutter-10">
    <div class="col-sm-3 col-md-3 col-lg-3">
        &nbsp;
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-6">
        
        <form method="post" action="/sonoran/public/user/add">
           
          <input type="hidden" class="form-control" name="id" id="id" value="{{user.id}}">
            
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" value="{{user.username}}">
          </div>    
            
          <div class="form-group">
            <label for="email_address">Email Address</label>
            <input type="text" class="form-control" name="email_address" id="email_address" placeholder="Email Address" value="{{user.email_address}}">
          </div>  
            
          <br />    
          <button type="submit" class="btn btn-form-primary">Submit</button>
        </form>
        
        <br />
        
        <a href="/sonoran/public/user/index"><button type="submit" class="btn btn-form-primary">Cancel</button></a>
        
    </div>
    
    <div class="col-sm-3 col-md-3 col-lg-3">
        &nbsp;
    </div>
</div>

{% endblock %}